
<!DOCTYPE html>
<html>
<head>
	<title>contact form</title>
</head>
<body>



	<div class="container">
  <div class="row">
    <div class="card col-lg-8 col-lg-2 col-lg-2 card text-center">
  <h5 class="card-header">Register</h5>
  <div class="card-body">
   <form action="/register" method="POST">
   	
   	<div class="form-group">
    <label for="id">Id</label>
    <input type="text" class="form-control" id="id" name="id" placeholder="Enter id">
    
  </div>
  <div class="form-group">
    <label for="name"> Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    
  </div>


    <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
    
  </div>
   <div class="form-group">
    <label for="Mobile">Contact</label>
    <input type="text" class="form-control" id="Mobile" name="mobile" placeholder="Enter contact">
    
  </div>
  
  <div class="form-group">
    <label for="course"> Course Name</label>
    <input type="text" class="form-control" id="cname" name="cname" placeholder="Enter course name">
    
  </div>
  
<button type="submit" class="btn btn-primary">Submit</button>
</form>
    
  </div>
</div>
  </div>
</div>
</body>
</html>